<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{% block title %}FoodFinder{% endblock %}</title>

    <!-- Link to favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    {% block css%}
        <link rel="stylesheet" href="{% static 'home_nav_bar.css' %}">
    {% endblock %}
</head>
<body>
    <header>
        <div style="display: flex; align-items: center; justify-content: center;"><img src="{% static 'logo.png' %}" alt="logo" style="height: auto; max-width: 100px;"><h1 style="flex: 1; text-align: center;">FoodFinder</h1></div>
        <nav>
            <ul>
                <li><a href="{% url 'home_redirect' %}">Home</a></li>
                <!-- Add more links as needed -->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'account_logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 FoodFinder</p>
    </footer>
</body>
</html>