{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'log.css' %}">
{% endblock %}
{% block title %}Profile - FoodFinder{% endblock %}

{% block content %}
<div class="content">
    <h2>{{ user.username }}'s Profile</h2>
    <p><strong>Email:</strong>
        {% if user.email %}
            {{ user.email }}
        {% elif user.socialaccount_set.exists %}
            {{ user.socialaccount_set.first.extra_data.email }}
        {% else %}
            No email available
        {% endif %}
    </p>

    <p>Favorite Restaurants:</p>
    <table id="myTable">
        <thead>
            <tr>
                <th class="sortable" onclick="sortTable(0)">Restaurant Name <i class="material-icons" style="vertical-align:-3.5px; font-size:18px;">swap_vert</i> </th>
                <th class="sortable" onclick="sortTable(1)">Rating <i class="material-icons" style="vertical-align:-3.5px; font-size:18px;">swap_vert</i>  </th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in fav_restaurant %}
                <tr style="height: 55px;">  <!-- Adjusted row height -->
                    <td>
                        <a href="{% url 'home_logged_in' %}?restaurant_name={{ restaurant.name|urlencode }}">
                            {{ restaurant.name }}
                        </a>
                        <form method="post" action="{% url 'unfavorite_restaurant' %}" style="background: none; border: none; box-shadow: none; display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="restaurant_id" value="{{ restaurant.place_id }}">
                            <button  class="favorite-button" style="cursor:pointer; background: none; color: red;"> 
                                <i class="material-icons">close</i> 
                            </button>
                        </form>
                    </td>
                        <td> {{ restaurant.rating }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script>
    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch, direction, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        direction = "asc"; 

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[columnIndex];
                y = rows[i + 1].getElementsByTagName("TD")[columnIndex];

                if (direction == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (direction == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && direction == "asc") {
                    direction = "desc";
                    switching = true;
                }
            }
        }
    }
    </script>
</div>
{% endblock %}
